$font-size: 20px;
$button-background-color: green;
$button-font-color: white;


.hello-world-button {
    font-size: $font-size;
    padding: 7px 20px;
    background: $button-background-color;
    color: $button-font-color;
    outline: none;
}

.hello-world-text {
    font-size: 16px;
    color: red;
}